node_modules
dist
.env*
# data
# git add .
# git commit -m "Add new feature X"
# git push

# חיבור כתובת גוגל מפס + חיבור הקונטקט פורם למייל
# להוסיף תוסף לנכים
# עוד 2 כתבות על המשרד
# אופטימזצייה מחיקה של דברים לא הכרחיים וסידור קוד
# בדיקת אחרונה לאתר + רספונסיביות בדיקה בנטליפיי
# סיום והגשה

#הערות : 
# להקטין את הפדינג בצדדים כמו באתר אחרים ?

# ----Bugs report :----

# 1.שנכנסים לראשונה לאתר ואז לפרוייקטים, לוחצים בפילטר על מגורים זה כאילו עושה משהו ואז כלום צריך ללחוץ עוד פעם
# 2.
# 3.
# 4.

# ----Bugs report----