node_modules
dist
.env*
# data
# git add .
# git commit -m "Add new feature X"
# git push

# אופטימזצייה מחיקה של דברים לא הכרחיים וסידור קוד (almost done)
# לשנות את הכתובת באייקון של גוגל מאפס 
# עוד 2 כתבות על המשרד
# בדיקת אחרונה לאתר + רספונסיביות בדיקה בנטליפיי
# סיום והגשה
# להוסיף תוסף לנכים

#הערות : 
# להקטין את הפדינג בצדדים כמו באתר אחרים ?

# ----Bugs report :----

# 1.שנכנסים לראשונה לאתר ואז לפרוייקטים, לוחצים בפילטר על מגורים זה כאילו עושה משהו ואז כלום צריך ללחוץ עוד פעם (Solved!)
# 2.שמגדילים תמונה ת אותה תמונה נפתחת בחלק התחתון של העמוד כאילו מתחת לתמונות האחרות (Solve!, Decided to not deal with the outcome not worth it)
# 3.
# 4.

# ----Bugs report----